.paginaDeRegistro {
    margin-top: 100px;
    width: 70%;
    height: 400px;
    backdrop-filter: blur(80px);
    border-radius: 25px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: white;
    font-size: 1.6em;
    box-shadow: 0 0 5px #000;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/zeyzey-3f3ad.appspot.com/o/Tomatoes.jpg?alt=media&token=ae8a465c-f2e0-47b3-aeb6-dfe34d5ab837");
    background-size: cover;
    display: grid;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}

.Registro {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 45px;
    font-family: "Poppins", sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Titulo {
    background-color: transparent;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Fields {
    background-color: transparent;
    margin-top: 0%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Fields2 {
    background-color: transparent;
    margin-top: 0%;
    text-align: center;
    justify-content: center;
    align-items: center;
}