.paginaDeRegistro {
    margin-top: 100px;
    width: 90%;
    /* Adjusted width for better responsiveness */
    max-width: 600px;
    /* Added maximum width for better responsiveness */
    height: auto;
    /* Allow height to adjust based on content */
    backdrop-filter: blur(80px);
    border-radius: 25px;
    margin: 20px auto;
    /* Center the element horizontally */
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: white;
    font-size: 1.2em;
    /* Decreased font size for better readability on smaller screens */
    box-shadow: 0 0 5px #000;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/zeyzey-3f3ad.appspot.com/o/Tomatoes.jpg?alt=media&token=ae8a465c-f2e0-47b3-aeb6-dfe34d5ab837");
    background-size: cover;
    display: grid;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}

.Registro {
    height: auto;
    /* Allow height to adjust based on content */
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 45px;
    font-family: "Poppins", sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Titulo {
    background-color: transparent;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Fields,
.Fields2 {
    background-color: transparent;
    margin-top: 20px;
    /* Increased top margin for better spacing */
    text-align: center;
    justify-content: center;
    align-items: center;
}