.Formulario {
    display: flex;
    flex-direction: column;
    /* Change to column for stacking items vertically */
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    padding: 10px;
}

.Field {
    background-color: transparent;
}

.Caja {
    background-color: transparent;
    margin-right: 10px;
}

.BotonF {
    background-color: transparent;
}

.BotonF input[type="checkbox"]:checked+label {
    background-color: rgba(255, 255, 255, 0.1);
    /* Highlighted background color */
    border-radius: 15px;
    color: #FFF;
    padding: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.BotonF label {
    background-color: transparent;
    cursor: pointer;
    /* Change cursor to pointer for labels */
    padding: 5px;
    transition: background-color 0.3s, color 0.3s;
}


.DivForm {
    margin-top: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 90%;
    box-sizing: border-box;
    padding: 20px;
    /* Decrease padding for smaller screens */
    overflow: hidden;
}

.Fields {
    background-color: transparent;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

.Boxes {
    background-color: transparent;
    margin-right: 0;
    display: flex;
    flex-direction: row;
}

.Seccion3,
.Seccion4,
.Seccion1,
.Seccion2 {
    display: flex;
    background-color: transparent;
    box-sizing: border-box;
    text-align: center;
    /* Center text for smaller screens */
    margin-bottom: 20px;
    /* Add some space between sections for smaller screens */
}

.DivNotif {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    text-align: left;
    /* Ensure text aligns to the left */
}

.Tit {
    background-color: transparent;
    text-align: left;
    margin-right: 0;
    /* Remove right margin for smaller screens */
}

.Titulo {
    background-color: transparent;
    text-align: center;
    margin-bottom: 20px;
    /* Decrease margin bottom for smaller screens */
}