.navbar {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/zeyzey-3f3ad.appspot.com/o/Tomatoes.jpg?alt=media&token=ae8a465c-f2e0-47b3-aeb6-dfe34d5ab837");
    align-content: center;
    display: flex;
    backdrop-filter: blur(20px);
    width: 100%;
    height: 80px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.userName {
    background-color: transparent;
    border: 0;
    border-radius: 15px;
    color: #FFF;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    margin: 5px 20px;
    backdrop-filter: blur(80px);
    transition: box-shadow .1s ease-in-out;
}

.userName:hover {
    box-shadow: 0 0 10px #000;
    color: #FFF;
}

.titulo {
    background-color: transparent;
    color: #FFF;
}

.link {
    background-color: transparent;
    border: 0;
    border-radius: 15px;
    color: #FFF;
    border-color: #41B06E;
    display: inline-flex;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    margin: 5px 20px;
    backdrop-filter: blur(80px);
    transition: box-shadow .1s ease-in-out;
}

.link:hover {
    box-shadow: 0 0 10px #000;
    color: #FFF;
}

.icon {
    background-color: transparent;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/zeyzey-3f3ad.appspot.com/o/Icon.png?alt=media&token=b422e612-1fae-4de3-9ecc-39c65663d8e1');
    background-size: contain;
    /* Adjust based on your image aspect ratio */
    background-repeat: no-repeat;
    width: 50px;
    /* Adjust width and height as needed */
    height: 50px;
    margin: 15px 26px 15px;
}

.cerrarSesion {
    background-color: transparent;
    border: 1px;
    border-radius: 15px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin: 5px 20px;
    background-color: transparent;
    backdrop-filter: blur(80px);
    transition: box-shadow .1s ease-in-out;
}



.cerrarSesion:hover {
    box-shadow: 0 0 10px #000;
    color: #FFF;
}

.Contenedor {
    background-color: transparent;
}

.perfil {
    background-color: transparent;
}