.navbar {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/zeyzey-3f3ad.appspot.com/o/Tomatoes.jpg?alt=media&token=ae8a465c-f2e0-47b3-aeb6-dfe34d5ab837");
    align-items: center;
    display: flex;
    backdrop-filter: blur(20px);
    width: 100%;
    height: 80px;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    margin-bottom: 100px;
}

.icon {
    background-color: transparent;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/zeyzey-3f3ad.appspot.com/o/Icon.png?alt=media&token=b422e612-1fae-4de3-9ecc-39c65663d8e1');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 15px 26px 15px;
}

.Contenedor,
.perfil {
    background-color: transparent;
}

.titulo {
    background-color: transparent;
    color: #FFF;
}

.userName,
.link,
.cerrarSesion {
    background-color: rgba(255, 255, 255, 0.1);
    ;
    /* Slightly transparent background */
    border: 0;
    border-radius: 15px;
    color: #FFF;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    margin: 5px 20px;
    backdrop-filter: blur(10px);
    /* Blur effect */
    transition: box-shadow .1s ease-in-out;
}

.userName:hover,
.link:hover,
.cerrarSesion:hover {
    box-shadow: 0 0 10px #000;
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 600px) {

    .userName,
    .link,
    .cerrarSesion {
        margin: 5px 10px;
        padding: 0 0.5rem;
        font-size: 14px;
    }

    .titulo {
        display: none;
    }
}